.u-section-1 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-1 .u-map-1 {
  height: 507px;
  width: 1082px;
  margin: 39px auto 0;
}

.u-section-1 .u-form-1 {
  height: 353px;
  width: 1082px;
  margin: 49px auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-map-1 {
    width: 940px;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-map-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-map-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-map-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}